.background {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, rgb(36, 77, 202), rgb(198, 11, 52));
    background-size: 300% 300%;
    animation: gradientAnimation 6s ease infinite;
  }
  /* Gradient animation */
   @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #750060;
      padding: 10px;
      color: white;
      box-shadow: 0 4px 8px rgba(0,0,0,0.5);
      position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    }
    .logo {
      font-size: 1.5rem;
      font-weight: bold;
      margin: 10px;
    }
    .menu {
      list-style: none;
      display: flex;
      gap: 1.5rem;
      margin: 10px;
      padding: 0;
    }
    .menu-item {
      cursor: pointer;
      transition: color 0.3s;
      background-color: #F7DBF8;
      border: none;
      padding: 0.8rem 1.5rem;
      border-radius: 26px;
      font-size: 1rem;
      font-weight: bold;
      color: #000000;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }
    .menu-item:hover {
      background-color: #DF48C1;
      color: rgb(0, 0, 0);
      transform: scale(1.1);
    }
    .header h5 {
      padding-top: 10%;
      text-align: center;
     font-family: serif;
      font-size: 1rem;
      margin-bottom: 0rem;
      line-height: 0.1rem;
    }
    .header h1 {
      font-size: 4rem;
      font-family: initial;
      text-align: center;
      margin: 0rem;
    }
    .header p {
      font-size: 1.2rem;
      text-align: center;
      line-height: 1.5;
      font-family: serif;
    }
     .styled-paragraph {
      border: 2px solid #E60DC9;
      background-color: #F0DDEE;
      border-radius: 8px;
      margin: 2px;
      margin-left: 10px;
      padding: 20px;
      width: fit-content;
      }
      .footer {
        background-color: #750060;
        color: white;
        text-align: center;
        padding: 15px 0;
        font-size: 1rem;
        position: relative;
        width: 100%;
        bottom: 0;
      }
      
  
  
  
  
  
  
  
  
  
  
  